{
  "openapi": "3.1.0",
  "info": {
    "title": "Wander - API partners",
    "description": "This API, developed by Wander, allows partner applications to access Wander's event data. Authentication, provided by the Wander team, is required to use this API. If you are interested in utilizing this API, please contact us at: support-api@wander-app.fr.\n\n**Last update: 2024-11-19**",
    "termsOfService": "https://wander-app.fr/api/terms-of-use",
    "contact": {
      "email": "support-api@wander-app.fr"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.wander-service.fr/api/clients"
    }
  ],
  "tags": [
    {
      "name": "Clients' login",
      "description": "It requires a clientId & clientSecret or a refreshToken"
    },
    {
      "name": "Direct Event Data Serving API",
      "description": "It requires a client's accessToken"
    },
    {
      "name": "Event Data Fetching and Storage API",
      "description": "It requires a client's accessToken"
    },
    {
      "name": "Events access (deprecated)",
      "description": "It requires a client's accessToken"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Clients' login"
        ],
        "summary": "Generate a refreshToken and an accessToken to use the API",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "grantAccess": {
                        "type": "string",
                        "enum": [
                          "clientSecret"
                        ]
                      },
                      "clientId": {
                        "type": "string"
                      },
                      "clientSecret": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "grantAccess",
                      "clientId",
                      "clientSecret"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "grantAccess": {
                        "type": "string",
                        "enum": [
                          "refreshToken"
                        ]
                      },
                      "refreshToken": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "grantAccess",
                      "refreshToken"
                    ],
                    "additionalProperties": false
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "expiresIn": {
                      "type": "number",
                      "examples": [
                        3600
                      ]
                    },
                    "tokenType": {
                      "type": "string",
                      "examples": [
                        "Bearer"
                      ]
                    },
                    "refreshToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Wrong clientId or clientSecret or refreshToken"
          }
        },
        "security": []
      }
    },
    "/get/events": {
      "post": {
        "tags": [
          "Events access (deprecated)"
        ],
        "summary": "Direct Event Data Serving API",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eventCategoryNames": {
                    "description": "It is a filter. By default, you get all the event categories.",
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "enum": [
                        "atelier",
                        "brocante",
                        "cinema",
                        "conference",
                        "enfants",
                        "expo",
                        "festival",
                        "gastronomie",
                        "livres",
                        "loisirs",
                        "meeting",
                        "musique",
                        "nature",
                        "pro",
                        "salon",
                        "sciences",
                        "soiree",
                        "solidarite",
                        "spectacle",
                        "sport",
                        "visite"
                      ],
                      "examples": [
                        "expo",
                        "musique"
                      ]
                    }
                  },
                  "locationFilter": {
                    "description": "You can define a location filter corresponding to a circle or a rectangle.",
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "circle": {
                            "description": "You can define the coordinates of a circle to get events in this circle.",
                            "type": "object",
                            "properties": {
                              "centerLng": {
                                "type": "number",
                                "examples": [
                                  2.333333
                                ]
                              },
                              "centerLat": {
                                "type": "number",
                                "examples": [
                                  48.866667
                                ]
                              },
                              "maxDistanceInKm": {
                                "type": "number",
                                "examples": [
                                  50
                                ]
                              }
                            },
                            "required": [
                              "centerLng",
                              "centerLat",
                              "maxDistanceInKm"
                            ]
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "rectangle": {
                            "description": "You can define the coordinates of a rectangle to get events in this rectangle.",
                            "type": "object",
                            "properties": {
                              "minLng": {
                                "type": "number",
                                "examples": [
                                  1.349014
                                ]
                              },
                              "maxLng": {
                                "type": "number",
                                "examples": [
                                  3.349014
                                ]
                              },
                              "minLat": {
                                "type": "number",
                                "examples": [
                                  47.864716
                                ]
                              },
                              "maxLat": {
                                "type": "number",
                                "examples": [
                                  49.864716
                                ]
                              }
                            },
                            "required": [
                              "minLng",
                              "maxLng",
                              "minLat",
                              "maxLat"
                            ]
                          }
                        }
                      }
                    ]
                  },
                  "datesFilter": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "minDate": {
                            "description": "You can set the date after which you want your events to take place. By defaut the events you get take place after now. Warning, date must be in ISO format.",
                            "type": "string",
                            "examples": [
                              "2024-09-12T12:00:06.138Z"
                            ]
                          },
                          "maxDate": {
                            "description": "You can set the date before which you want your events to take place. By defaut the events you get take place before next week. If you set the date too far in the future, this may affect the performance of the query. Warning, date must be in ISO format.",
                            "type": "string",
                            "examples": [
                              "2024-12-12T12:00:06.138Z"
                            ]
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "liveSelected": {
                            "description": "To get live events taking place in the next 3 hours.",
                            "type": "boolean",
                            "examples": [
                              true
                            ]
                          }
                        }
                      }
                    ]
                  },
                  "lowestPrice": {
                    "description": "You can set the lowest price for the events you get.",
                    "type": "number",
                    "minValue": 0
                  },
                  "highestPrice": {
                    "description": "You can set the highest price for the events you get.",
                    "type": "number",
                    "minValue": 0,
                    "examples": [
                      200
                    ]
                  },
                  "limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 500,
                    "examples": [
                      5
                    ]
                  },
                  "pageNb": {
                    "type": "number",
                    "min": 1,
                    "examples": [
                      1
                    ]
                  },
                  "orderBy": {
                    "description": "You can order the events you get by dates or by prices or by distance to a place definied with 'orderByDistanceToPlace' or by last update dates to update your records. By default it's by ascendant dates.",
                    "type": "string",
                    "enum": [
                      "date",
                      "updatedAt",
                      "price",
                      "distanceToPlace"
                    ],
                    "examples": [
                      "distanceToPlace"
                    ]
                  },
                  "orderByDistanceToPlace": {
                    "description": "You can define the coordinates of a place to order events according to their distance from that place.",
                    "type": "object",
                    "properties": {
                      "centerLng": {
                        "type": "number",
                        "examples": [
                          2.333333
                        ]
                      },
                      "centerLat": {
                        "type": "number",
                        "examples": [
                          48.866667
                        ]
                      }
                    },
                    "required": [
                      "centerLng",
                      "centerLat"
                    ]
                  },
                  "getCommentaries": {
                    "description": "Set it to true if you want to retrieve commentaries on events you get. Warning, this reduces the performance of the request, so only use it if you want to use this data.",
                    "type": "boolean",
                    "examples": [
                      false
                    ]
                  },
                  "getPerformers": {
                    "description": "Set it to true if you want to retrieve performers on events you get. Warning, this reduces the performance of the request, so only use it if you want to use this data.",
                    "type": "boolean",
                    "examples": [
                      false
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "examples": [
                              100000
                            ]
                          },
                          "name": {
                            "type": "string",
                            "examples": [
                              "PLK en concert"
                            ]
                          },
                          "startDate": {
                            "type": "string",
                            "examples": [
                              "2024-03-03 06:08:23.222 +0100"
                            ]
                          },
                          "endDate": {
                            "type": "string",
                            "examples": [
                              "2024-03-04 06:08:23.222 +0100"
                            ]
                          },
                          "endDateIsNotReliable": {
                            "type": "boolean"
                          },
                          "lowestPrice": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "The lowest price for the event in euros. If it's null, we don't know the price.",
                            "examples": [
                              0
                            ]
                          },
                          "highestPrice": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "The highest price for the event in euros. If it's null, we don't know the price.",
                            "examples": [
                              200
                            ]
                          },
                          "description": {
                            "type": "string",
                            "examples": [
                              "Un super concert de PLK à l'accor arena !"
                            ]
                          },
                          "hasGoodDeal": {
                            "description": "This attribute is a boolean which is set to ‘true’ when a good deal on the event is identified during integration (discount, early bird ticket, preferential rate, etc.). One of the sources has 'isGoodDeal' set to true.",
                            "type": "boolean"
                          },
                          "image": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "imageHeight": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "imageWidth": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "squareImage": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "rectangleImage": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "webImage": {
                            "description": "This is the image compressed.",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "notAvailable": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "This is the date on which the event became unavailable. Either because all the places have been sold or because there is no more availability."
                          },
                          "cancelled": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "This is the date on which the event was cancelled."
                          },
                          "createdAt": {
                            "type": "string",
                            "examples": [
                              "2024-09-12T12:00:06.138Z"
                            ]
                          },
                          "updatedAt": {
                            "type": "string",
                            "examples": [
                              "2024-09-12T12:00:06.138Z"
                            ]
                          },
                          "place": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int64",
                                "examples": [
                                  10
                                ]
                              },
                              "name": {
                                "type": "string",
                                "examples": [
                                  "Accor Arena"
                                ]
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "coordinates": {
                                    "description": "It is [lng, lat] coordinates of place",
                                    "type": "array",
                                    "minItems": 2,
                                    "maxItems": 2,
                                    "examples": [
                                      [
                                        2.123909,
                                        42.32981038
                                      ]
                                    ],
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  "street": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "examples": [
                                      "Rue Saint-Jacques"
                                    ]
                                  },
                                  "city": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "examples": [
                                      "Paris"
                                    ]
                                  },
                                  "postalCode": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "examples": [
                                      75005
                                    ]
                                  },
                                  "country": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "examples": [
                                      "France"
                                    ]
                                  }
                                }
                              },
                              "image": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "squareImage": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "rectangleImage": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "isCertified": {
                                "type": "boolean"
                              }
                            }
                          },
                          "sources": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "description": "This is one of the sources of information about the event",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int64",
                                  "examples": [
                                    45
                                  ]
                                },
                                "partner": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "examples": [
                                        "fnac"
                                      ]
                                    },
                                    "logo": {
                                      "type": "string"
                                    },
                                    "backColor": {
                                      "type": "string"
                                    },
                                    "textColor": {
                                      "type": "string"
                                    },
                                    "shadowColor": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "startDate": {
                                  "type": "string"
                                },
                                "endDate": {
                                  "type": "string"
                                },
                                "lowestPrice": {
                                  "type": [
                                    "number",
                                    "null"
                                  ],
                                  "description": "The lowest price for the event in euros. If it's null, we don't know the price",
                                  "examples": [
                                    0
                                  ]
                                },
                                "highestPrice": {
                                  "type": [
                                    "number",
                                    "null"
                                  ],
                                  "description": "The highest price for the event in euros. If it's null, we don't know the price",
                                  "examples": [
                                    200
                                  ]
                                },
                                "isGoodDeal": {
                                  "description": "This attribute is a boolean which is set to ‘true’ when a good deal on this event source is identified during integration (discount, early bird ticket, preferential rate, etc.).",
                                  "type": "boolean"
                                },
                                "commissionFix": {
                                  "description": "The fixed commission in euros.",
                                  "type": "number",
                                  "examples": [
                                    1
                                  ]
                                },
                                "commissionRate": {
                                  "type": "number",
                                  "examples": [
                                    0.05
                                  ]
                                },
                                "link": {
                                  "type": "string"
                                },
                                "bookable": {
                                  "type": "string"
                                },
                                "availableDates": {
                                  "description": "This corresponds to all the dates available for this event and for this particular source.",
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "startDate": {
                                        "type": "string"
                                      },
                                      "endDate": {
                                        "type": "string"
                                      },
                                      "endDateIsNotReliable": {
                                        "type": "boolean"
                                      }
                                    }
                                  }
                                },
                                "cantRetrieveOccurrences": {
                                  "description": "For some events, ‘availableDates’ is incomplete, and to indicate that information about the event's availability is missing, we set 'cantRetrieveOccurrences' to true.",
                                  "type": "boolean"
                                },
                                "notAvailable": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "description": "This is the date on which the event became unavailable. Either because all the places have been sold or because there is no more availability."
                                }
                              }
                            }
                          },
                          "categories": {
                            "description": "It's an array of all the categories of the event. Some of these objects are ‘sub-categories’ and others are 'main categories'. For a main category, 'subCategoryName' is null, while for a sub-category, ‘subCategoryName’ is not null and ‘mainCategory’ has the same value as the main category.",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number",
                                  "format": "int64",
                                  "examples": [
                                    1
                                  ]
                                },
                                "mainCategoryName": {
                                  "type": "string",
                                  "examples": [
                                    "expo"
                                  ]
                                },
                                "subCategoryName": {
                                  "description": "If it's null, it's a main category, otherwise it's a sub-category of the main category.",
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "examples": [
                                    "painting"
                                  ]
                                },
                                "traductionFR": {
                                  "type": "string",
                                  "examples": [
                                    "peinture"
                                  ]
                                },
                                "traductionEN": {
                                  "type": "string",
                                  "examples": [
                                    "painting"
                                  ]
                                },
                                "icon": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "commentaries": {
                            "descritpion": "During integration, we retrieve all the comments/grades made about the event.",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "grade": {
                                  "type": "number",
                                  "examples": [
                                    5
                                  ]
                                },
                                "content": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "examples": [
                                    "Amazing concert !"
                                  ]
                                },
                                "username": {
                                  "type": "string",
                                  "examples": [
                                    "Wander bot"
                                  ]
                                },
                                "date": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "averageGrade": {
                            "description": "During integration, we also retrieve all the comments/grades made about the event. ‘AverageGrade’ is simply the average of these ratings.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "examples": [
                              5
                            ]
                          },
                          "nbOfGrades": {
                            "description": "During integration, we also retrieve all the comments/grades made about the event. 'nbOfGrades' is simply the number of these ratings.",
                            "type": "number",
                            "examples": [
                              1
                            ]
                          },
                          "performers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int64",
                                  "examples": [
                                    45
                                  ]
                                },
                                "name": {
                                  "type": "string",
                                  "examples": [
                                    "PLK"
                                  ]
                                },
                                "description": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "image": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "webImage": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "totalItems": {
                          "type": "number",
                          "examples": [
                            1000
                          ]
                        },
                        "totalPages": {
                          "type": "number",
                          "examples": [
                            20
                          ]
                        },
                        "perPage": {
                          "type": "number",
                          "examples": [
                            50
                          ]
                        },
                        "currentPage": {
                          "type": "number",
                          "examples": [
                            5
                          ]
                        },
                        "nextPageParams": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "pageNb": {
                              "type": "number",
                              "examples": [
                                6
                              ]
                            },
                            "limit": {
                              "type": "number",
                              "examples": [
                                50
                              ]
                            }
                          }
                        },
                        "previousPageParams": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "pageNb": {
                              "type": "number",
                              "examples": [
                                4
                              ]
                            },
                            "limit": {
                              "type": "number",
                              "examples": [
                                50
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid body schema"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/get/events": {
      "post": {
        "tags": [
          "Direct Event Data Serving API"
        ],
        "summary": "Get events according to your filters. You can use it to serve a map or event stream.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "categories": {
                    "description": "It is a filter. By default, you get all the event categories.",
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "enum": [
                        "atelier",
                        "brocante",
                        "cinema",
                        "conference",
                        "enfants",
                        "expo",
                        "festival",
                        "gastronomie",
                        "livres",
                        "loisirs",
                        "meeting",
                        "musique",
                        "nature",
                        "pro",
                        "salon",
                        "sciences",
                        "soiree",
                        "solidarite",
                        "spectacle",
                        "sport",
                        "visite"
                      ],
                      "examples": [
                        "spectacle",
                        "musique"
                      ]
                    }
                  },
                  "sources": {
                    "description": "It is a filter. By default, you get all sources. Check the back office for possible values.",
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "examples": [
                        "fnac"
                      ]
                    }
                  },
                  "locationFilter": {
                    "description": "You can define a location filter corresponding to a circle or a rectangle.",
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "circle": {
                            "description": "You can define the coordinates of a circle to get events in this circle.",
                            "type": "object",
                            "properties": {
                              "lng": {
                                "type": "number",
                                "examples": [
                                  2.333333
                                ]
                              },
                              "lat": {
                                "type": "number",
                                "examples": [
                                  48.866667
                                ]
                              },
                              "maxDistance": {
                                "type": "number",
                                "examples": [
                                  500
                                ]
                              }
                            },
                            "required": [
                              "lng",
                              "lat",
                              "maxDistance"
                            ]
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "rectangle": {
                            "description": "You can define the coordinates of a rectangle to get events in this rectangle.",
                            "type": "object",
                            "properties": {
                              "minLng": {
                                "type": "number",
                                "examples": [
                                  1.349014
                                ]
                              },
                              "maxLng": {
                                "type": "number",
                                "examples": [
                                  3.349014
                                ]
                              },
                              "minLat": {
                                "type": "number",
                                "examples": [
                                  47.864716
                                ]
                              },
                              "maxLat": {
                                "type": "number",
                                "examples": [
                                  49.864716
                                ]
                              }
                            },
                            "required": [
                              "minLng",
                              "maxLng",
                              "minLat",
                              "maxLat"
                            ]
                          }
                        }
                      }
                    ]
                  },
                  "datesFilter": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "minDate": {
                            "description": "You can set the date after which you want your events to take place. By defaut the events you get take place after now. Warning, date must be in ISO format.",
                            "type": "string",
                            "examples": [
                              "2024-09-12T12:00:06.138Z"
                            ]
                          },
                          "maxDate": {
                            "description": "You can set the date before which you want your events to take place. By defaut the events you get take place before next week. If you set the date too far in the future, this may affect the performance of the query. Warning, date must be in ISO format.",
                            "type": "string",
                            "examples": [
                              "2024-12-12T12:00:06.138Z"
                            ]
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "isLive": {
                            "description": "To get live events taking place in the next 3 hours.",
                            "type": "boolean",
                            "examples": [
                              true
                            ]
                          }
                        }
                      }
                    ]
                  },
                  "pricesFilter": {
                    "type": "object",
                    "properties": {
                      "lowestPrice": {
                        "description": "You can set the lowest price for the events you get.",
                        "type": "number",
                        "minValue": 0
                      },
                      "highestPrice": {
                        "description": "You can set the highest price for the events you get.",
                        "type": "number",
                        "minValue": 0,
                        "examples": [
                          200
                        ]
                      },
                      "hasKnownPrice": {
                        "description": "By default you get also events without known prices.",
                        "type": "boolean",
                        "examples": [
                          false
                        ]
                      }
                    }
                  },
                  "limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 500,
                    "examples": [
                      5
                    ]
                  },
                  "pageNumber": {
                    "type": "number",
                    "min": 1,
                    "examples": [
                      1
                    ]
                  },
                  "orderBy": {
                    "description": "You can order the events you get by dates or by prices or by distance to a place definied with 'orderByDistance' or by last update dates to update your records. By default it's by ascendant endDates.",
                    "type": "string",
                    "enum": [
                      "startDate",
                      "endDate",
                      "updatedAt",
                      "lowestPrice",
                      "highestPrice",
                      "distance"
                    ],
                    "examples": [
                      "distance"
                    ]
                  },
                  "orderByDistance": {
                    "description": "You can define the coordinates of a place to order events according to their distance from that place.",
                    "type": "object",
                    "properties": {
                      "lng": {
                        "type": "number",
                        "examples": [
                          2.333333
                        ]
                      },
                      "lat": {
                        "type": "number",
                        "examples": [
                          48.866667
                        ]
                      }
                    },
                    "required": [
                      "lng",
                      "lat"
                    ]
                  },
                  "getCommentaries": {
                    "description": "Set it to true if you want to retrieve commentaries on events you get. Warning, this reduces the performance of the request, so only use it if you want to use this data.",
                    "type": "boolean",
                    "examples": [
                      false
                    ]
                  },
                  "getPerformers": {
                    "description": "Set it to true if you want to retrieve performers on events you get. Warning, this reduces the performance of the request, so only use it if you want to use this data.",
                    "type": "boolean",
                    "examples": [
                      false
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "examples": [
                              100000
                            ]
                          },
                          "wanderId": {
                            "type": "integer",
                            "format": "int64",
                            "examples": [
                              100000
                            ]
                          },
                          "name": {
                            "type": "string",
                            "examples": [
                              "PLK en concert"
                            ]
                          },
                          "startDate": {
                            "type": "string",
                            "examples": [
                              "2024-03-03 06:08:23.222 +0100"
                            ]
                          },
                          "endDate": {
                            "type": "string",
                            "examples": [
                              "2024-03-04 06:08:23.222 +0100"
                            ]
                          },
                          "hasEndDateNotReliable": {
                            "type": "boolean"
                          },
                          "lowestPrice": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "The lowest price for the event in euros. If it's null, we don't know the price.",
                            "examples": [
                              0
                            ]
                          },
                          "highestPrice": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "The highest price for the event in euros. If it's null, we don't know the price.",
                            "examples": [
                              200
                            ]
                          },
                          "description": {
                            "type": "string",
                            "examples": [
                              "Un super concert de PLK à l'accor arena !"
                            ]
                          },
                          "hasGoodDeal": {
                            "description": "This attribute is a boolean which is set to ‘true’ when a good deal on the event is identified during integration (discount, early bird ticket, preferential rate, etc.). One of the sources has 'isGoodDeal' set to true.",
                            "type": "boolean"
                          },
                          "image": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "imageHeight": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "imageWidth": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "squareImage": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "rectangleImage": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "webImage": {
                            "description": "This is the image compressed.",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "notAvailableAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "This is the date on which the event became unavailable. Either because all the places have been sold or because there is no more availability.",
                            "examples": [
                              "2024-09-12T12:00:06.138Z"
                            ]
                          },
                          "cancelledAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "This is the date on which the event was cancelled.",
                            "examples": [
                              "2024-09-12T12:00:06.138Z"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "examples": [
                              "2024-09-12T12:00:06.138Z"
                            ]
                          },
                          "updatedAt": {
                            "type": "string",
                            "examples": [
                              "2024-09-12T12:00:06.138Z"
                            ]
                          },
                          "place": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int64",
                                "examples": [
                                  10
                                ]
                              },
                              "name": {
                                "type": "string",
                                "examples": [
                                  "Accor Arena"
                                ]
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "lng": {
                                    "type": "number",
                                    "examples": [
                                      2.123909
                                    ]
                                  },
                                  "lat": {
                                    "type": "number",
                                    "examples": [
                                      42.32981038
                                    ]
                                  },
                                  "street": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "examples": [
                                      "Rue Saint-Jacques"
                                    ]
                                  },
                                  "city": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "examples": [
                                      "Paris"
                                    ]
                                  },
                                  "postalCode": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "examples": [
                                      75005
                                    ]
                                  },
                                  "country": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "examples": [
                                      "France"
                                    ]
                                  }
                                }
                              },
                              "image": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "squareImage": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "rectangleImage": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "averageGrade": {
                                "description": "This is the average grade for the place on Google.",
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "totalGrades": {
                                "description": "This is the total number of grades for the place on Google.",
                                "type": [
                                  "number",
                                  "null"
                                ]
                              }
                            }
                          },
                          "sources": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "description": "This is one of the sources of information about the event",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int64",
                                  "examples": [
                                    45
                                  ]
                                },
                                "partner": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "examples": [
                                        "fnac"
                                      ]
                                    },
                                    "logo": {
                                      "type": "string"
                                    },
                                    "backColor": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "startDate": {
                                  "type": "string"
                                },
                                "endDate": {
                                  "type": "string"
                                },
                                "lowestPrice": {
                                  "type": [
                                    "number",
                                    "null"
                                  ],
                                  "description": "The lowest price for the event in euros. If it's null, we don't know the price",
                                  "examples": [
                                    0
                                  ]
                                },
                                "highestPrice": {
                                  "type": [
                                    "number",
                                    "null"
                                  ],
                                  "description": "The highest price for the event in euros. If it's null, we don't know the price",
                                  "examples": [
                                    200
                                  ]
                                },
                                "isGoodDeal": {
                                  "description": "This attribute is a boolean which is set to ‘true’ when a good deal on this event source is identified during integration (discount, early bird ticket, preferential rate, etc.).",
                                  "type": "boolean"
                                },
                                "commissionFix": {
                                  "description": "The fixed commission in euros.",
                                  "type": "number",
                                  "examples": [
                                    1
                                  ]
                                },
                                "commissionRate": {
                                  "type": "number",
                                  "examples": [
                                    0.05
                                  ]
                                },
                                "link": {
                                  "type": "string",
                                  "description": "The affiliate link to buy tickets."
                                },
                                "isBookable": {
                                  "type": "boolean"
                                },
                                "availableDates": {
                                  "description": "This corresponds to all the dates available for this event and for this particular source.",
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "startDate": {
                                        "type": "string"
                                      },
                                      "endDate": {
                                        "type": "string"
                                      },
                                      "hasEndDateNotReliable": {
                                        "type": "boolean"
                                      },
                                      "hasUnknownAvailability": {
                                        "type": "boolean"
                                      }
                                    }
                                  }
                                },
                                "cantRetrieveAvailableDates": {
                                  "description": "For some events, ‘availableDates’ is incomplete, and to indicate that information about the event's availability is missing, we set 'cantRetrieveAvailableDates' to true.",
                                  "type": "boolean"
                                },
                                "notAvailableAt": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "description": "This is the date on which the event became unavailable. Either because all the places have been sold or because there is no more availability."
                                }
                              }
                            }
                          },
                          "categories": {
                            "description": "It's an array of all the categories of the event. Some of these objects are ‘sub-categories’ and others are 'main categories'. For a main category, 'subCategory' is null, while for a sub-category, ‘subCategory’ is not null and ‘mainCategory’ has the same value as the main category.",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "number",
                                  "format": "int64",
                                  "examples": [
                                    1
                                  ]
                                },
                                "mainCategory": {
                                  "type": "string",
                                  "examples": [
                                    "expo"
                                  ]
                                },
                                "subCategory": {
                                  "description": "If it's null, it's a main category, otherwise it's a sub-category of the main category.",
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "examples": [
                                    "painting"
                                  ]
                                },
                                "traductionFR": {
                                  "type": "string",
                                  "examples": [
                                    "peinture"
                                  ]
                                },
                                "traductionEN": {
                                  "type": "string",
                                  "examples": [
                                    "painting"
                                  ]
                                },
                                "icon": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "commentaries": {
                            "descritpion": "During integration, we retrieve all the comments/grades made about the event.",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "grade": {
                                  "type": "number",
                                  "examples": [
                                    5
                                  ]
                                },
                                "content": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "examples": [
                                    "Amazing concert !"
                                  ]
                                },
                                "username": {
                                  "type": "string",
                                  "examples": [
                                    "Wander bot"
                                  ]
                                },
                                "date": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "averageGrade": {
                            "description": "During integration, we also retrieve all the comments/grades made about the event. ‘AverageGrade’ is simply the average of these ratings.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "examples": [
                              5
                            ]
                          },
                          "totalGrades": {
                            "description": "During integration, we also retrieve all the comments/grades made about the event. 'totalGrades' is simply the number of these ratings.",
                            "type": "number",
                            "examples": [
                              1
                            ]
                          },
                          "trendingScore": {
                            "type": "number",
                            "examples": [
                              10
                            ]
                          },
                          "performers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int64",
                                  "examples": [
                                    45
                                  ]
                                },
                                "name": {
                                  "type": "string",
                                  "examples": [
                                    "PLK"
                                  ]
                                },
                                "description": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "image": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "webImage": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "totalItems": {
                          "type": "number",
                          "examples": [
                            1000
                          ]
                        },
                        "totalPages": {
                          "type": "number",
                          "examples": [
                            20
                          ]
                        },
                        "perPage": {
                          "type": "number",
                          "examples": [
                            50
                          ]
                        },
                        "currentPage": {
                          "type": "number",
                          "examples": [
                            5
                          ]
                        },
                        "nextPageParams": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "pageNumber": {
                              "type": "number",
                              "examples": [
                                6
                              ]
                            },
                            "limit": {
                              "type": "number",
                              "examples": [
                                50
                              ]
                            }
                          }
                        },
                        "previousPageParams": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "pageNumber": {
                              "type": "number",
                              "examples": [
                                4
                              ]
                            },
                            "limit": {
                              "type": "number",
                              "examples": [
                                50
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid body schema"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/get/catalogue": {
      "post": {
        "tags": [
          "Events access (deprecated)"
        ],
        "summary": "Data Fetching and Storage API",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "locationFilter": {
                    "description": "You can define a location filter corresponding to a circle or a rectangle.",
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "circle": {
                            "description": "You can define the coordinates of a circle to get events in this circle.",
                            "type": "object",
                            "properties": {
                              "centerLng": {
                                "type": "number",
                                "examples": [
                                  2.333333
                                ]
                              },
                              "centerLat": {
                                "type": "number",
                                "examples": [
                                  48.866667
                                ]
                              },
                              "maxDistanceInKm": {
                                "type": "number",
                                "examples": [
                                  50
                                ]
                              }
                            },
                            "required": [
                              "centerLng",
                              "centerLat",
                              "maxDistanceInKm"
                            ]
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "rectangle": {
                            "description": "You can define the coordinates of a rectangle to get events in this rectangle.",
                            "type": "object",
                            "properties": {
                              "minLng": {
                                "type": "number",
                                "examples": [
                                  1.349014
                                ]
                              },
                              "maxLng": {
                                "type": "number",
                                "examples": [
                                  3.349014
                                ]
                              },
                              "minLat": {
                                "type": "number",
                                "examples": [
                                  47.864716
                                ]
                              },
                              "maxLat": {
                                "type": "number",
                                "examples": [
                                  49.864716
                                ]
                              }
                            },
                            "required": [
                              "minLng",
                              "maxLng",
                              "minLat",
                              "maxLat"
                            ]
                          }
                        }
                      }
                    ]
                  },
                  "getEventsUpdatedAfterDate": {
                    "description": "You can only get the events updated after this date. Use it to keep your own database up to date.",
                    "type": "string",
                    "examples": [
                      "2023-01-01T12:00:06.138Z"
                    ]
                  },
                  "getAvailabilitiesUpdates": {
                    "description": "Set it to true if you want to retrieve events whose availabilities have been modified.",
                    "type": "boolean",
                    "examples": [
                      false
                    ]
                  },
                  "limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 500,
                    "examples": [
                      5
                    ]
                  },
                  "pageNb": {
                    "type": "number",
                    "min": 1,
                    "examples": [
                      1
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "events": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int64",
                                "examples": [
                                  100000
                                ]
                              },
                              "name": {
                                "type": "string",
                                "examples": [
                                  "PLK en concert"
                                ]
                              },
                              "startDate": {
                                "type": "string",
                                "examples": [
                                  "2024-03-03 06:08:23.222 +0100"
                                ]
                              },
                              "endDate": {
                                "type": "string",
                                "examples": [
                                  "2024-03-04 06:08:23.222 +0100"
                                ]
                              },
                              "endDateIsNotReliable": {
                                "type": "boolean"
                              },
                              "lowestPrice": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "The lowest price for the event in euros. If it's null, we don't know the price.",
                                "examples": [
                                  0
                                ]
                              },
                              "highestPrice": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "The highest price for the event in euros. If it's null, we don't know the price.",
                                "examples": [
                                  200
                                ]
                              },
                              "description": {
                                "type": "string",
                                "examples": [
                                  "Un super concert de PLK à l'accor arena !"
                                ]
                              },
                              "hasGoodDeal": {
                                "description": "This attribute is a boolean which is set to ‘true’ when a good deal on the event is identified during integration (discount, early bird ticket, preferential rate, etc.). One of the sources has 'isGoodDeal' set to true.",
                                "type": "boolean"
                              },
                              "image": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "imageHeight": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "imageWidth": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "squareImage": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "rectangleImage": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "webImage": {
                                "description": "This is the image compressed.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "notAvailable": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "This is the date on which the event became unavailable. Either because all the places have been sold or because there is no more availability."
                              },
                              "cancelled": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "This is the date on which the event was cancelled."
                              },
                              "createdAt": {
                                "type": "string",
                                "examples": [
                                  "2024-09-12T12:00:06.138Z"
                                ]
                              },
                              "updatedAt": {
                                "type": "string",
                                "examples": [
                                  "2024-09-12T12:00:06.138Z"
                                ]
                              },
                              "place": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "format": "int64",
                                    "examples": [
                                      10
                                    ]
                                  },
                                  "name": {
                                    "type": "string",
                                    "examples": [
                                      "Accor Arena"
                                    ]
                                  },
                                  "address": {
                                    "type": "object",
                                    "properties": {
                                      "coordinates": {
                                        "description": "It is [lng, lat] coordinates of place",
                                        "type": "array",
                                        "minItems": 2,
                                        "maxItems": 2,
                                        "examples": [
                                          [
                                            2.123909,
                                            42.32981038
                                          ]
                                        ],
                                        "items": {
                                          "type": "number"
                                        }
                                      },
                                      "street": {
                                        "type": [
                                          "string",
                                          "null"
                                        ],
                                        "examples": [
                                          "Rue Saint-Jacques"
                                        ]
                                      },
                                      "city": {
                                        "type": [
                                          "string",
                                          "null"
                                        ],
                                        "examples": [
                                          "Paris"
                                        ]
                                      },
                                      "postalCode": {
                                        "type": [
                                          "string",
                                          "null"
                                        ],
                                        "examples": [
                                          75005
                                        ]
                                      },
                                      "country": {
                                        "type": [
                                          "string",
                                          "null"
                                        ],
                                        "examples": [
                                          "France"
                                        ]
                                      }
                                    }
                                  },
                                  "image": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "squareImage": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "rectangleImage": {
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "isCertified": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "sources": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "description": "This is one of the sources of information about the event",
                                  "properties": {
                                    "id": {
                                      "type": "integer",
                                      "format": "int64",
                                      "examples": [
                                        45
                                      ]
                                    },
                                    "partner": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "examples": [
                                            "fnac"
                                          ]
                                        },
                                        "logo": {
                                          "type": "string"
                                        },
                                        "backColor": {
                                          "type": "string"
                                        },
                                        "textColor": {
                                          "type": "string"
                                        },
                                        "shadowColor": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "startDate": {
                                      "type": "string"
                                    },
                                    "endDate": {
                                      "type": "string"
                                    },
                                    "lowestPrice": {
                                      "type": [
                                        "number",
                                        "null"
                                      ],
                                      "description": "The lowest price for the event in euros. If it's null, we don't know the price",
                                      "examples": [
                                        0
                                      ]
                                    },
                                    "highestPrice": {
                                      "type": [
                                        "number",
                                        "null"
                                      ],
                                      "description": "The highest price for the event in euros. If it's null, we don't know the price",
                                      "examples": [
                                        200
                                      ]
                                    },
                                    "isGoodDeal": {
                                      "description": "This attribute is a boolean which is set to ‘true’ when a good deal on this event source is identified during integration (discount, early bird ticket, preferential rate, etc.).",
                                      "type": "boolean"
                                    },
                                    "commissionFix": {
                                      "description": "The fixed commission in euros.",
                                      "type": "number",
                                      "examples": [
                                        1
                                      ]
                                    },
                                    "commissionRate": {
                                      "type": "number",
                                      "examples": [
                                        0.05
                                      ]
                                    },
                                    "link": {
                                      "type": "string"
                                    },
                                    "bookable": {
                                      "type": "string"
                                    },
                                    "availableDates": {
                                      "description": "This corresponds to all the dates available for this event and for this particular source.",
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "startDate": {
                                            "type": "string"
                                          },
                                          "endDate": {
                                            "type": "string"
                                          },
                                          "endDateIsNotReliable": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    },
                                    "cantRetrieveOccurrences": {
                                      "description": "For some events, ‘availableDates’ is incomplete, and to indicate that information about the event's availability is missing, we set 'cantRetrieveOccurrences' to true.",
                                      "type": "boolean"
                                    },
                                    "notAvailable": {
                                      "type": [
                                        "string",
                                        "null"
                                      ],
                                      "description": "This is the date on which the event became unavailable. Either because all the places have been sold or because there is no more availability."
                                    }
                                  }
                                }
                              },
                              "categories": {
                                "description": "It's an array of all the categories of the event. Some of these objects are ‘sub-categories’ and others are 'main categories'. For a main category, 'subCategoryName' is null, while for a sub-category, ‘subCategoryName’ is not null and ‘mainCategory’ has the same value as the main category.",
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number",
                                      "format": "int64",
                                      "examples": [
                                        1
                                      ]
                                    },
                                    "mainCategoryName": {
                                      "type": "string",
                                      "examples": [
                                        "expo"
                                      ]
                                    },
                                    "subCategoryName": {
[...]
